@import url('https://fonts.googleapis.com/css2?mily=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Main */
main h1{
    color: #FFFFFF;
    font-size: 38px;
    text-align: center;
    margin: 40px 0 40px 0;
}

.categories-links{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.categories-header{
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
}

.categories-links:hover{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 40%;
}

#categories-section{
    align-items: left;
}

#categories-section section{
    margin-bottom: 20px;
}

.main-section{
    margin: 0 5% 0 5%;
}

.categories-container{
    width: 70px;
}

#img-container-main{
    margin-bottom: 40px;
}

#img-container-main img{
    cursor: pointer;
    transition: transform 0.3s ease;
}

#img-container-main img:hover{
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


#img-container-main  h4{
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
}

@media (max-width:768px){
    #images-container{
        align-items: center;
        text-align: center;
    }
}
